.row::after {
  content: "";
  clear: both;
  display: table; }

.col1 {
  float: left;
  width: 8.3333333333%; }

.col2 {
  float: left;
  width: 16.6666666667%; }

.col3 {
  float: left;
  width: 25%; }

.col4 {
  float: left;
  width: 33.3333333333%; }

.col5 {
  float: left;
  width: 41.6666666667%; }

.col6 {
  float: left;
  width: 50%; }

.col7 {
  float: left;
  width: 58.3333333333%; }

.col8 {
  float: left;
  width: 66.6666666667%; }

.col9 {
  float: left;
  width: 75%; }

.col10 {
  float: left;
  width: 83.3333333333%; }

.col11 {
  float: left;
  width: 91.6666666667%; }

.col12 {
  float: left;
  width: 100%; }

@media (max-width: 1000px) {
  .l1 {
    float: left;
    width: 8.3333333333%; } }
@media (max-width: 1000px) {
  .l2 {
    float: left;
    width: 16.6666666667%; } }
@media (max-width: 1000px) {
  .l3 {
    float: left;
    width: 25%; } }
@media (max-width: 1000px) {
  .l4 {
    float: left;
    width: 33.3333333333%; } }
@media (max-width: 1000px) {
  .l5 {
    float: left;
    width: 41.6666666667%; } }
@media (max-width: 1000px) {
  .l6 {
    float: left;
    width: 50%; } }
@media (max-width: 1000px) {
  .l7 {
    float: left;
    width: 58.3333333333%; } }
@media (max-width: 1000px) {
  .l8 {
    float: left;
    width: 66.6666666667%; } }
@media (max-width: 1000px) {
  .l9 {
    float: left;
    width: 75%; } }
@media (max-width: 1000px) {
  .l10 {
    float: left;
    width: 83.3333333333%; } }
@media (max-width: 1000px) {
  .l11 {
    float: left;
    width: 91.6666666667%; } }
@media (max-width: 1000px) {
  .l12 {
    float: left;
    width: 100%; } }
@media (max-width: 800px) {
  .m1 {
    float: left;
    width: 8.3333333333%; } }
@media (max-width: 800px) {
  .m2 {
    float: left;
    width: 16.6666666667%; } }
@media (max-width: 800px) {
  .m3 {
    float: left;
    width: 25%; } }
@media (max-width: 800px) {
  .m4 {
    float: left;
    width: 33.3333333333%; } }
@media (max-width: 800px) {
  .m5 {
    float: left;
    width: 41.6666666667%; } }
@media (max-width: 800px) {
  .m6 {
    float: left;
    width: 50%; } }
@media (max-width: 800px) {
  .m7 {
    float: left;
    width: 58.3333333333%; } }
@media (max-width: 800px) {
  .m8 {
    float: left;
    width: 66.6666666667%; } }
@media (max-width: 800px) {
  .m9 {
    float: left;
    width: 75%; } }
@media (max-width: 800px) {
  .m10 {
    float: left;
    width: 83.3333333333%; } }
@media (max-width: 800px) {
  .m11 {
    float: left;
    width: 91.6666666667%; } }
@media (max-width: 800px) {
  .m12 {
    float: left;
    width: 100%; } }
@media (max-width: 600px) {
  .s1 {
    float: left;
    width: 8.3333333333%; } }
@media (max-width: 600px) {
  .s2 {
    float: left;
    width: 16.6666666667%; } }
@media (max-width: 600px) {
  .s3 {
    float: left;
    width: 25%; } }
@media (max-width: 600px) {
  .s4 {
    float: left;
    width: 33.3333333333%; } }
@media (max-width: 600px) {
  .s5 {
    float: left;
    width: 41.6666666667%; } }
@media (max-width: 600px) {
  .s6 {
    float: left;
    width: 50%; } }
@media (max-width: 600px) {
  .s7 {
    float: left;
    width: 58.3333333333%; } }
@media (max-width: 600px) {
  .s8 {
    float: left;
    width: 66.6666666667%; } }
@media (max-width: 600px) {
  .s9 {
    float: left;
    width: 75%; } }
@media (max-width: 600px) {
  .s10 {
    float: left;
    width: 83.3333333333%; } }
@media (max-width: 600px) {
  .s11 {
    float: left;
    width: 91.6666666667%; } }
@media (max-width: 600px) {
  .s12 {
    float: left;
    width: 100%; } }
@media (max-width: 400px) {
  .xs1 {
    float: left;
    width: 8.3333333333%; } }
@media (max-width: 400px) {
  .xs2 {
    float: left;
    width: 16.6666666667%; } }
@media (max-width: 400px) {
  .xs3 {
    float: left;
    width: 25%; } }
@media (max-width: 400px) {
  .xs4 {
    float: left;
    width: 33.3333333333%; } }
@media (max-width: 400px) {
  .xs5 {
    float: left;
    width: 41.6666666667%; } }
@media (max-width: 400px) {
  .xs6 {
    float: left;
    width: 50%; } }
@media (max-width: 400px) {
  .xs7 {
    float: left;
    width: 58.3333333333%; } }
@media (max-width: 400px) {
  .xs8 {
    float: left;
    width: 66.6666666667%; } }
@media (max-width: 400px) {
  .xs9 {
    float: left;
    width: 75%; } }
@media (max-width: 400px) {
  .xs10 {
    float: left;
    width: 83.3333333333%; } }
@media (max-width: 400px) {
  .xs11 {
    float: left;
    width: 91.6666666667%; } }
@media (max-width: 400px) {
  .xs12 {
    float: left;
    width: 100%; } }
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  background: transparent;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto; }

a {
  text-decoration: none; }

h1 {
  line-height: 1;
  font-size: 5rem; }

h2 {
  font-size: 3.5rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.75rem; }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 0.85rem; }

p {
  font-size: 1.5rem; }

@media (max-width: 1000px) {
  h1 {
    line-height: 0.9;
    font-size: 4rem; }

  h2 {
    font-size: 3rem; }

  h3 {
    font-size: 1.75rem; }

  h4 {
    font-size: 1.5rem; }

  h5 {
    font-size: 1.25rem; }

  h6 {
    font-size: 0.8rem; }

  p {
    font-size: 1.25rem; } }
@media (max-width: 800px) {
  h1 {
    line-height: 0.85;
    font-size: 3.5rem; }

  h2 {
    font-size: 2.5rem; }

  h3 {
    font-size: 1.5rem; }

  h4 {
    font-size: 1.25rem; }

  h5 {
    font-size: 1rem; }

  h6 {
    font-size: 0.75rem; }

  p {
    font-size: 1rem; } }
@media (max-width: 600px) {
  h1 {
    line-height: 0.850;
    font-size: 2rem; }

  h2 {
    font-size: 1.75rem; }

  h3 {
    font-size: 1.5rem; }

  h4 {
    font-size: 1.25rem; } }
/*h5{
    font-size: 1rem;
}
h6{
    font-size: 0.85rem;
}
p{
    font-size: 1rem;
}*/
footer .container .col4 h5, #hero h1, #about .container .row1 h3, #about .container .row2 h3, #about .container .row3 h3, #news .row h3, #admission .container h3 {
  font-family: 'Roboto Slab', Newslab, Rockwell, Bodoni, serif; }

.loader {
  width: 100%;
  height: 100vh;
  background: #29339B;
  position: absolute;
  z-index: 9999; }

.book {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  margin: 0 auto;
  border: 5px solid #f2f2f2;
  width: 100px;
  height: 60px; }

.book__page {
  position: absolute;
  left: 50%;
  top: -5px;
  margin: 0 auto;
  border-top: 5px solid #f2f2f2;
  border-bottom: 5px solid #f2f2f2;
  border-right: 5px solid #f2f2f2;
  background: #29339B;
  width: 50px;
  height: 60px;
  transform-origin: 0% 50%;
  animation: flip 1.2s infinite linear;
  animation-fill-mode: forwards; }
  .book__page:nth-child(1) {
    z-index: -1;
    animation-delay: 1.4s; }
  .book__page:nth-child(2) {
    z-index: -2;
    animation-delay: 2.8s; }
  .book__page:nth-child(3) {
    z-index: -3;
    animation-delay: 4.2s; }

@keyframes flip {
  0% {
    transform: perspective(600px) rotateY(0deg); }
  20% {
    background: #1e2673; }
  29.9% {
    background: #1e2673; }
  30% {
    transform: perspective(200px) rotateY(-90deg);
    background: #29339B; }
  54.999% {
    opacity: 1; }
  55% {
    opacity: 0; }
  60% {
    transform: perspective(200px) rotateY(-180deg);
    background: #29339B; }
  100% {
    transform: perspective(200px) rotateY(-180deg);
    background: #29339B; } }
body {
  font-family: "Roboto", Oxygen, Ubuntu, Cantarell, sans-serif; }

body {
  background: #f2f2f2; }

.cta {
  display: inline-block; }
  .cta span {
    content: "";
    display: block;
    background: black;
    height: 2px;
    width: 100%;
    margin-top: 3px; }

nav {
  background: white;
  height: 100px;
  width: 100%;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.7);
  transition: all 300ms ease-in-out;
  position: fixed;
  z-index: 999; }
  nav .logo {
    float: left; }
    nav .logo a {
      padding: 10px 0;
      display: inline-block; }
      nav .logo a img {
        height: 80px; }
  nav .material-icons {
    float: right;
    display: none; }
    nav .material-icons:hover {
      cursor: pointer; }
  nav .nav-items {
    float: right;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase; }
  nav li {
    list-style-type: none;
    float: left; }
    nav li a {
      line-height: 100px;
      padding: 0 20px;
      color: #000000; }
      nav li a:hover {
        color: #29339B; }
  nav .black-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none; }
  @media (max-width: 1000px) {
    nav #menu {
      line-height: 100px; }
    nav #close {
      margin-right: 20px; }
    nav .material-icons {
      display: block; }
    nav .nav-items {
      padding: 20px 0 20px 20px;
      position: absolute;
      width: 80%;
      max-width: 300px;
      height: 100vh;
      right: 0;
      transform: translateX(0%);
      float: none;
      background: white;
      transition: all 300ms cubic-bezier(0, 0, 0, 1); }
      nav .nav-items li {
        float: none; }
      nav .nav-items li a {
        display: block;
        padding: 20px;
        line-height: 1; }
    nav .slide {
      transform: translateX(100%);
      transition: all 300ms cubic-bezier(0, 0, 1, 0); } }

.nav-docked {
  background: transparent;
  box-shadow: none; }

#enroll, .enroll-contact {
  position: relative;
  padding: 25vh 0;
  overflow: hidden;
  background-image: url(../img/gallery/bg.JPG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center; }
  #enroll h2, .enroll-contact h2 {
    padding-bottom: 2rem;
    color: #F9C22E; }
  #enroll h5, .enroll-contact h5 {
    position: absolute;
    top: 1rem;
    color: white;
    animation: 20s roll linear infinite; }
@keyframes roll {
  from {
    transform: translateX(100vw); }
  to {
    transform: translateX(-100%); } }
  #enroll .cta, .enroll-contact .cta {
    color: white; }
    #enroll .cta span, .enroll-contact .cta span {
      background: white; }

footer {
  background: white; }
  footer .container {
    padding: 10vh 0 2vh; }
    footer .container .col4 {
      padding-bottom: 5vh; }
      footer .container .col4 h5 {
        padding-bottom: 0.35rem; }
      footer .container .col4 h6 {
        font-weight: 300; }
    footer .container .col7 {
      padding-bottom: 5vh; }
    footer .container li {
      list-style-type: none;
      display: inline-block; }
      footer .container li a {
        display: inline-block;
        padding: 0 20px;
        font-size: 0.85rem;
        font-weight: 700;
        color: #4f4f4f;
        text-transform: uppercase; }
    @media (max-width: 1200px) {
      footer .container li a {
        padding: 1rem 5px; } }
    @media (max-width: 1000px) {
      footer .container li {
        display: block; }
        footer .container li a {
          padding: 1rem 5px; } }
    footer .container .social svg {
      width: 40px; }
    footer .container .social a:hover svg circle {
      fill: midnightblue; }
    footer .container .social a:hover svg path {
      fill: white; }
    footer .container p {
      padding: 0.5rem 0;
      font-size: 0.9rem;
      color: #4f4f4f; }
    footer .container span {
      padding-left: 2rem; }
      footer .container span i {
        font-size: 1.15rem;
        vertical-align: top; }
      footer .container span a {
        color: #4f4f4f;
        font-weight: 700;
        text-transform: uppercase; }
  @media (max-width: 800px) {
    footer .container {
      text-align: center; }
      footer .container .material-icons {
        line-height: 1.5rem;
        font-size: 0.9rem;
        vertical-align: middle; } }

.space {
  height: 1000px; }

#hero .container {
  padding: 20vh 0;
  height: 100vh; }
#hero h4 {
  padding: 2.5vh 0;
  text-transform: uppercase;
  font-weight: 300;
  color: #4f4f4f; }
#hero h1 {
  padding: 2.5vh 0; }
#hero .cta {
  margin-top: 10vh;
  padding: 1rem 0; }
#hero .cta {
  color: white; }
  #hero .cta span {
    background: white; }
#hero h6 {
  text-transform: uppercase;
  display: inline-block;
  position: absolute;
  bottom: 0;
  color: #F9C22E;
  font-weight: 300; }
  #hero h6 .line {
    content: "";
    display: block;
    position: relative;
    margin-top: 3px;
    height: 10vh;
    width: 2px;
    background: #F9C22E;
    left: 50%;
    transform: translateX(-50%); }
#hero .right-boxes {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -999; }
  #hero .right-boxes .box {
    position: absolute;
    height: 60vh;
    width: 20vw;
    background: #F9C22E;
    right: 0; }
#hero .bottom-boxes {
  position: absolute;
  width: 100%;
  top: 60vh;
  z-index: -999; }
  #hero .bottom-boxes .box-1 {
    position: absolute;
    height: 40vh;
    width: 20vw;
    background: #53B3CB;
    right: 0; }
  #hero .bottom-boxes .box-2 {
    position: absolute;
    height: 40vh;
    width: 30vw;
    background: #29339B;
    left: 0; }
  #hero .bottom-boxes .box-3 {
    position: absolute;
    height: 40vh;
    width: 100vw;
    background: white;
    right: 0;
    z-index: -999; }
@media (max-width: 1000px) {
  #hero .right-boxes, #hero .box-1, #hero .box-3 {
    display: none; }
  #hero .bottom-boxes .box-2 {
    width: 100%; }
  #hero h6 {
    left: 50%;
    transform: translateX(-50%); } }
@media (max-width: 800px) {
  #hero .container {
    padding: 30vh 0; } }

#overview {
  background: white;
  padding: 20vw 0; }
  #overview h4 {
    width: 75%;
    max-width: 400px;
    margin: 0 auto;
    color: #4f4f4f;
    line-height: 1.3; }

#slideshow .carousel .item {
  height: 80vw;
  max-height: 800px;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#slideshow .carousel .owl-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); }

#principal {
  background: #F9C22E;
  position: relative; }
  #principal .container {
    padding: 20vh 0; }
    #principal .container h2, #principal .container p {
      padding-bottom: 2rem;
      line-height: 1.3;
      color: #333; }
    #principal .container h2 {
      line-height: 0.95;
      color: #141414; }
    #principal .container p {
      width: 100%;
      max-width: 740px; }
  #principal .img {
    background-image: url(../img/gallery/principal.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  @media (min-width: 1200px) {
    #principal .img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      height: calc(100% - 40vh);
      width: 30vw; } }
  @media (max-width: 1200px) {
    #principal .img {
      position: relative;
      width: 80%;
      max-width: 320px;
      height: 80vw;
      max-height: 400px; } }

#gallery {
  padding: 160px 0 100px; }
  #gallery .container {
    background: white; }
    #gallery .container .row {
      padding: 0 2vw; }
      #gallery .container .row h3 {
        padding: 2vw; }
    #gallery .container .col4 {
      padding: 0 2vw; }
    #gallery .container iframe {
      width: 100%; }
    #gallery .container img {
      padding: 2vw 0;
      width: 100%; }

#contact {
  padding: 160px 0 0; }
  #contact .row {
    padding: 2rem 0 2rem 2rem;
    background: #F9C22E; }
    #contact .row .container {
      padding: 0 0 2rem 1rem; }
      #contact .row .container h3 {
        padding: 1rem 0;
        font-size: 2rem; }
      #contact .row .container h5 {
        padding: 0.5rem 0; }
    #contact .row iframe {
      height: 50vh;
      width: 100%; }

#form .col9 {
  padding: 2rem 0 2rem 3rem; }
#form form p {
  padding: 0.75rem 0; }
#form form label {
  color: #4f4f4f;
  display: inline;
  vertical-align: top; }
#form form input, #form form textarea {
  width: 80%;
  background: white;
  padding-bottom: 0.5rem; }
#form form button {
  margin: 0 auto;
  cursor: pointer;
  background: #53B3CB;
  color: white;
  padding: 0.5rem 1rem; }
#form .col3 {
  background: #53B3CB;
  height: 50vh; }
@media (max-width: 1000px) {
  #form .col3 {
    display: none; } }

#about {
  padding: 160px 0 100px; }
  #about .container .row1 {
    background: white; }
    #about .container .row1 h3 {
      padding: 3rem; }
    #about .container .row1 p {
      padding: 0.5rem 3rem 3rem;
      color: #4f4f4f; }
    #about .container .row1 .col4 {
      background-image: url(../img/gallery/about.JPG);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      height: 65vh; }
  #about .container .col4 {
    padding: 0 2vw; }
  #about .container iframe {
    width: 100%; }
  #about .container img {
    padding: 2vw 0;
    width: 100%; }
  #about .container .row2 {
    background: #29339B; }
    #about .container .row2 h3 {
      padding: 3rem;
      color: white; }
    #about .container .row2 p {
      padding: 0.5rem 3rem 3rem;
      color: #f2f2f2; }
    #about .container .row2 .col4 {
      height: 60vh;
      background: #F9C22E; }
    @media (max-width: 1000px) {
      #about .container .row2 .col3, #about .container .row2 .col4 {
        display: none; } }
  #about .container .row3 {
    background: #53B3CB;
    padding-bottom: 3rem; }
    #about .container .row3 h3 {
      padding: 3rem;
      color: white; }
    #about .container .row3 p {
      padding: 0.5rem 3rem;
      color: #f2f2f2; }

#news .row {
  padding-bottom: 3rem; }
  #news .row h3 {
    padding: 2rem 0;
    text-align: center; }
  #news .row img {
    width: 100%;
    padding: 0.5rem; }

#admission {
  padding: 160px 0 100px; }
  #admission .container h3 {
    padding-bottom: 2rem; }
  #admission .container h4 {
    padding: 2rem 0 1.75rem; }
  #admission .container .notes {
    background: white;
    padding: 2rem 5vw; }
    #admission .container .notes p:first-child {
      padding-bottom: 0.5rem; }
    #admission .container .notes .sub {
      padding-left: 2rem; }
  #admission .container .test {
    margin-top: 4rem;
    background: #53B3CB;
    padding: 2rem 5vw;
    color: white; }
    #admission .container .test p {
      color: #f2f2f2; }
  #admission .container .fee {
    background: white;
    padding: 2rem 5vw; }
    #admission .container .fee p:first-child {
      padding-bottom: 0.5rem; }
  #admission .container p {
    color: #4f4f4f;
    padding: 0.5rem 0 0.5rem 1rem;
    width: 90%;
    max-width: 1000px; }
  #admission .container .material-icons {
    font-size: 18px; }

#cbse {
  padding-bottom: 5rem; }
  #cbse .container {
    padding: 1rem 2rem;
    background: white;
    max-width: 600px;
    box-shadow: 0 0 50px -10px rgba(79, 79, 79, 0.1); }
    #cbse .container p {
      display: inline-block; }
    #cbse .container .cta {
      vertical-align: middle;
      float: right;
      color: #29339B; }
      #cbse .container .cta span {
        background: #29339B; }
  @media (max-width: 800px) {
    #cbse .container {
      text-align: center; }
      #cbse .container p {
        display: block; }
      #cbse .container .cta {
        padding-top: 0.35rem;
        float: none; } }

.enroll-contact {
  background-image: url(../img/gallery/bg2.JPG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .enroll-contact h4 {
    color: #29339B; }
  .enroll-contact .cta {
    color: #141414; }
    .enroll-contact .cta span {
      background: #141414; }

#activities {
  padding: 160px 0 100px; }
  #activities .container h3 {
    padding: 0 1rem; }
  #activities .container .row {
    margin: 3rem  0;
    padding: 0 0 0 2rem;
    background: white; }
    #activities .container .row h4 {
      padding: 3rem 0 1rem; }
    #activities .container .row p {
      padding: 1.5rem 1rem 1rem 0; }
    #activities .container .row:nth-child(2) {
      border-bottom: solid 10px #29339B; }
    #activities .container .row:nth-child(3) {
      border-bottom: solid 10px #F9C22E; }
    #activities .container .row:nth-child(4) {
      border-bottom: solid 10px #53B3CB; }
    #activities .container .row:nth-child(5) {
      border-bottom: solid 10px #29339B; }
    #activities .container .row:nth-child(6) {
      border-bottom: solid 10px #F9C22E; }
    #activities .container .row:nth-child(7) {
      border-bottom: solid 10px #53B3CB; }
    #activities .container .row:nth-child(8) {
      border-bottom: solid 10px #29339B; }
    #activities .container .row:nth-child(9) {
      border-bottom: solid 10px #F9C22E; }
    #activities .container .row:nth-child(10) {
      border-bottom: solid 10px #29339B; }
  #activities .container .col4 {
    background-image: url(../img/gallery/yoga.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh; }
  @media (max-width: 800px) {
    #activities .container .row {
      padding-right: 2rem; } }

/*# sourceMappingURL=main.css.map */
