$purple: #29339B;
$yellow: #F9C22E;
$cyan: #53B3CB;
$grey: #f2f2f2;
$dark-grey: #4f4f4f;
$black: #141414;

$width: 10;

%font-roboto{
    font-family: 'Roboto';
}
%font-slab{
    font-family: 'Roboto Slab', Newslab, Rockwell, Bodoni, serif;
}