.space{
    height: 1000px;
}

//hero
#hero{
    .container{
        padding: 20vh 0;
        height: 100vh;
    }
    h4{
        padding: 2.5vh 0;
        text-transform: uppercase;
        font-weight: 300;
        color: $dark-grey;
    }
    h1{
        @extend %font-slab;
        padding: 2.5vh 0;
    }
    .cta{
        margin-top: 10vh;
        padding: 1rem 0
    }
    .cta{
        @include cta(white);
    }
    h6{
        text-transform: uppercase;
        display: inline-block; 
        position: absolute;
        bottom: 0;
        color: $yellow;
        font-weight: 300;
        .line{
            content: "";
            display: block;
            position: relative;
            margin-top: 3px;
            height: 10vh;
            width: 2px;
            background: $yellow;
            left: 50%;
            transform: translateX(-50%);
    
        }
    }
    .right-boxes{
        position: absolute;
        width: 100%;
        top: 0;
        z-index: -999;
        .box{
            position: absolute;
            height: 60vh;
            width: 20vw;
            background: $yellow;
            right: 0;
        }
    }
    .bottom-boxes{
        position: absolute;
        width: 100%;
        top: 60vh;
        z-index: -999;
        .box-1{
            position: absolute;
            height: 40vh;
            width: 20vw;
            background: $cyan;
            right: 0;
        }
        .box-2{
            position: absolute;
            height: 40vh;
            width: 30vw;
            background: $purple;
            left: 0;
        }
        .box-3{
            position: absolute;
            height: 40vh;
            width: 100vw;
            background: white;
            right: 0;
            z-index: -999
        }
    }
    @include respond("large"){
        .right-boxes, .box-1, .box-3{
            display: none;
        }
        .bottom-boxes .box-2{
            width: 100%;
        }
        h6{
            left: 50%;
        transform: translateX(-50%);
        }
    }
    @include respond("medium"){
        .container{
            padding: 30vh 0;
        }
    }
}  //------hero end


//overview
#overview{
    background: white;
    padding: 20vw 0;
    h4{
        width: 75%;
        max-width: 400px;
        margin: 0 auto;
        color: $dark-grey;
        line-height: 1.3;
    }
}  //----overview end


//slideshow
%carousel-bg{
    height: 80vw;
    max-height: 800px;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#slideshow{
    .carousel{
        .item{
                @extend %carousel-bg;
            }
        
        .owl-dots{
            position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
        }
     }
}     //-----slideshow end


//principals desk
#principal{
    background: $yellow;
    position: relative;
    .container{
        padding: 20vh 0;
        h2, p,{
            padding-bottom: 2rem;
            line-height: 1.3;
            color: #333;
        }
        h2{
            line-height: 0.95;
            color: $black;
        }
        p{
            width: 100%;
            max-width: 740px;
        }
    }
    .img{
        @include bg("principal");
    }
    @media (min-width: 1200px){
        .img{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            height: calc(100% - 40vh);
            width: 30vw;
        }
    }
    
    @include respond("xlarge"){
        .img{
            position: relative;
            width: 80%;
            max-width: 320px;
            height: 80vw;
            max-height: 400px;

        }
    }
}   //----end of principals desk

