nav{
    background: white;
    height: 100px;
    width: 100%;
    box-shadow: 0px 0px 20px -5px transparentize(black, 0.3);
    transition: all 300ms ease-in-out;
    position: fixed;
    z-index: 999;
    .logo{
        float: left;
        a{
            padding: 10px 0;
            display: inline-block;
            img{
                height: 80px;
            }
        }
    }
    .material-icons{
        float: right;
        display: none;
        &:hover{
            cursor: pointer;
        }
    }
    
    .nav-items{
        float: right;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
    }
    li{
        
        list-style-type: none;
        float: left;
        
        a{
            line-height: 100px;
            padding: 0 20px;
            color: #000000;
            &:hover{
                color: $purple;
            }
        }
    }
    .black-overlay{
        background: transparentize(#000000, 0.5);
        position: fixed;
        @include spread;
        display: none;
    }
    
    @include respond("large"){
        #menu{
            line-height: 100px;
        }
        #close{
            margin-right: 20px;
        }
        .material-icons{
            display: block;
        }
        .nav-items{
            padding: 20px 0 20px 20px;
            position: absolute;
            width: 80%;
            max-width: 300px;
            height: 100vh;
            right: 0;
            transform: translateX(0%);
            float: none;
            background: white;
            transition: all 300ms cubic-bezier(0, 0, 0, 1);
            li{
                float: none;
            }
            li a{
                display: block;
                padding: 20px;
            
            line-height: 1;
        }
    }
    .slide{
        transform: translateX(100%);
        transition: all 300ms cubic-bezier(0, 0, 1, 0);

    }
    
    }
    
    
}
.nav-docked{
    background: transparent;
    box-shadow: none;
}


//enroll link
#enroll{
    position: relative;
    padding: 25vh 0;
    overflow: hidden;
    @include bg("bg");
    h2{
        padding-bottom: 2rem;
        color: $yellow;
    }
    text-align: center;
    h5{
        position: absolute;
        top: 1rem;
        color: white;
        animation: 20s roll linear infinite; 
    }
    @keyframes roll {
        from{
            transform: translateX(100vw);
        }
        to{
            transform: translateX(-100%);
        }
        
    }
    .cta{
        @include cta(white);
    }
}

//footer

footer{
    background: white;
    .container{
        padding: 10vh 0 2vh;
        .col4{
            padding-bottom: 5vh;
            h5{
                @extend %font-slab;
                padding-bottom: 0.35rem;
            }
            h6{
                font-weight: 300;
            }
        }
        .col7{
            padding-bottom: 5vh;
        }
        li{
            list-style-type: none;
            display: inline-block;
            a{
                display: inline-block;
                padding: 0 20px;
                font-size: 0.85rem;
                font-weight: 700;
                color: $dark-grey;
                text-transform: uppercase;
            }
        
        }
        @include respond("xlarge"){
            li{
                a{
                    padding: 1rem 5px;
                }
            }
        }
        @include respond("large"){
            li{
                display: block;
                a{
                    padding: 1rem 5px;
                }
            }
        }
        .social{
            svg{
                width: 40px;
            }
            a:hover{
                svg{
                    circle{
                        fill: midnightblue;
                    }
                    path{
                        fill: white;
                    }
                }
            }
        }
        p{
            padding: 0.5rem 0;
            font-size: 0.9rem;
            color: $dark-grey;
        }
        span{
            padding-left: 2rem;
            i{
                font-size: 1.15rem;
                vertical-align: top;
            }
            a{
                color: $dark-grey;
                font-weight: 700;
                text-transform: uppercase;
            }
        }

    }
    @include respond("medium"){
        .container{
            text-align: center;
            .material-icons{
                line-height: 1.5rem;
                font-size: 0.9rem;
                vertical-align: middle;
            }
        }
    }
}